<div class="d-flex flex-column align-items-center">
    <div class="logo">
        <img src="../../../assets/images/logo.png" class="bi me-2" width="256" height="256" role="img">
    </div>

    <div id="title">
        <h1>Igr<span class="highlight">ann</span>onica</h1>
    </div>

    <div id="cards" class="row align-items-view align-items-stretch justify-content-center">
        <div class="card shadowed bg-light text-light col-3 m-3" style="width: 18rem;">
            <div class="card-body">
                <mat-icon width="48px" height="48px" style="font-size: 48px; margin-left: 50%; transform: translateX(-100%);">model_training</mat-icon>
                <h2 class="card-title my-2 subtitle-class">Eksperimentiši</h2>
                <p class="card-text">
                    U tri koraka <a class="stretched-link text-light" routerLink="experiment">napravite novu neuronsku mrežu</a>. Koristite postojeće izvore podataka, modele, itd.
                </p>
            </div>
        </div>
        <div class="card shadowed bg-light text-light col-3 m-3" style="width: 18rem;">
            <div class="card-body">
                <mat-icon width="48px" height="48px" style="font-size: 48px; margin-left: 50%; transform: translateX(-100%);">storage
                </mat-icon>
                <h2 class="card-title my-2 subtitle-class">Kolekcije</h2>
                <p class="card-text">
                    <a class="stretched-link text-light" routerLink="archive">Upravljajte</a> izvorima podataka, eksperimentima, modelima i rezultatima treniranja. Pogledajte podatke koje su podelili drugi korisnici.
                </p>
            </div>
        </div>


    </div>
</div>