<div class="d-flex flex-column align-items-center my-5">
    <app-folder [archive]="true" [startingTab]="TabType.MyExperiments" class="pro-center"></app-folder>

    <!--<div class="my-5" style="height: fit-content;">
        <app-playlist [datasets]="publicDatasets"></app-playlist>
    </div>-->

    <!--<div id="cards" class="row align-items-view align-items-stretch justify-content-center">
        <div class="card shadowed bg-light text-light col-3 m-3" style="width: 18rem;">
            <div class="card-body">
                <mat-icon width="48px" height="48px" style="font-size: 48px; margin-left: 50%; transform: translateX(-100%);">model_training
                </mat-icon>
                <h3 class="card-title my-2">Moji eksperimenti</h3>
                <p class="card-text">
                    <a class="stretched-link" routerLink="my-models">Pregledajte</a> vaše modele, menjajte ih, napravite nove modele, ili ih obrišite.
                </p>
            </div>
        </div>
        <div class="card shadowed bg-light text-light col-3 m-3" style="width: 18rem;">
            <div class="card-body">
                <mat-icon width="48px" height="48px" style="font-size: 48px; margin-left: 50%; transform: translateX(-100%);">storage</mat-icon>
                <h3 class="card-title my-2">Izvori podataka</h3>
                <p class="card-text">
                    <a class="stretched-link" routerLink="my-datasets">Preuredite</a> vaše izvore podataka, ili dodajte novi.
                </p>
            </div>
        </div>
        <div class="card shadowed bg-light text-light col-3 m-3" style="width: 18rem;">
            <div class="card-body">
                <mat-icon width="48px" height="48px" style="font-size: 48px; margin-left: 50%; transform: translateX(-100%);">model_training
                </mat-icon>
                <h3 class="card-title my-2">Modeli</h3>
                <p class="card-text">
                    <a class="stretched-link" routerLink="my-models">Pregledajte</a> vaše modele, menjajte ih, napravite nove modele, ili ih obrišite.
                </p>
            </div>
        </div>
        <div class="card shadowed bg-light text-light col-3 m-3" style="width: 18rem;">
            <div class="card-body">
                <mat-icon width="48px" height="48px" style="font-size: 48px; margin-left: 50%; transform: translateX(-100%);">batch_prediction
                </mat-icon>
                <h3 class="card-title my-2">Rezultati treniranja</h3>
                <p class="card-text">
                    <a class="stretched-link" routerLink="my-predictors">Pregledajte</a> sve vaše trenirane modele, koristite ih da predvidite vrednosti za red ili skup podataka, ili ih obrišite.
                </p>
            </div>
        </div>
    </div>-->
</div>